.testtask-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testtask-testtask {
  width: 1129px;
  height: 1010px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-white);
}
.testtask-card {
  top: 229px;
  left: 578px;
  width: 356px;
  height: 428px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 234, 234, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-default-white);
}
.testtask-btnprimarybutton {
  gap: 8px;
  top: 372px;
  left: 16px;
  width: 162px;
  display: flex;
  padding: 7px 16px 9px 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-radius: 8px;
  background-color: var(--dl-color-default-orange);
}
.testtask-text {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-btnsecondarybutton {
  gap: 8px;
  top: 372px;
  left: 194px;
  width: 75px;
  display: flex;
  padding: 7px 16px 9px 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(234, 234, 234, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: var(--dl-color-default-white);
}
.testtask-text02 {
  color: var(--dl-color-default-dark);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-carddivider {
  top: 356px;
  left: 0px;
  width: 356px;
  height: 0px;
  position: absolute;
}
.testtask-text04 {
  top: 256px;
  left: 24px;
  color: var(--dl-color-default-secondary);
  width: 308px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.testtask-text06 {
  top: 216px;
  left: 24px;
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.testtask-thumbnail {
  top: 0px;
  left: 0px;
  width: 356px;
  height: 200px;
  position: absolute;
}
.testtask-card1 {
  top: 681px;
  left: 958px;
  width: 356px;
  height: 428px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 234, 234, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-default-white);
}
.testtask-btnprimary {
  gap: 8px;
  top: 372px;
  left: 16px;
  width: 162px;
  display: flex;
  padding: 7px 16px 9px 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-radius: 8px;
  background-color: var(--dl-color-default-orange);
}
.testtask-text08 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-btnsecondary {
  gap: 8px;
  top: 372px;
  left: 194px;
  width: 75px;
  display: flex;
  padding: 7px 16px 9px 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(234, 234, 234, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: var(--dl-color-default-white);
}
.testtask-text10 {
  color: var(--dl-color-default-dark);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-text12 {
  top: 256px;
  left: 24px;
  color: var(--dl-color-default-secondary);
  width: 308px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.testtask-text14 {
  top: 216px;
  left: 24px;
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-thumbnail1 {
  top: 0px;
  left: 0px;
  width: 356px;
  height: 200px;
  position: absolute;
}
.testtask-card2 {
  top: 229px;
  left: 958px;
  width: 356px;
  height: 428px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 234, 234, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-default-white);
}
.testtask-btnprimarybutton1 {
  gap: 8px;
  top: 372px;
  left: 16px;
  width: 162px;
  display: flex;
  padding: 7px 16px 9px 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-radius: 8px;
  background-color: var(--dl-color-default-orange);
}
.testtask-text16 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-btnsecondary1 {
  gap: 8px;
  top: 372px;
  left: 194px;
  width: 75px;
  display: flex;
  padding: 7px 16px 9px 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(234, 234, 234, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: var(--dl-color-default-white);
}
.testtask-text18 {
  color: var(--dl-color-default-dark);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-carddivider1 {
  top: 356px;
  left: 0px;
  width: 356px;
  height: 0px;
  position: absolute;
}
.testtask-text20 {
  top: 256px;
  left: 24px;
  color: var(--dl-color-default-secondary);
  width: 308px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.testtask-text22 {
  top: 312px;
  left: 24px;
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Commissioner;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-text24 {
  top: 216px;
  left: 24px;
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-thumbnail2 {
  top: 0px;
  left: 0px;
  width: 356px;
  height: 200px;
  position: absolute;
}
.testtask-card3 {
  top: 681px;
  left: 578px;
  width: 356px;
  height: 428px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 234, 234, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-default-white);
}
.testtask-btnprimary1 {
  gap: 8px;
  top: 372px;
  left: 16px;
  width: 162px;
  display: flex;
  padding: 7px 16px 9px 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-radius: 8px;
  background-color: var(--dl-color-default-orange);
}
.testtask-text26 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-btnsecondary2 {
  gap: 8px;
  top: 372px;
  left: 194px;
  width: 75px;
  display: flex;
  padding: 7px 16px 9px 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(234, 234, 234, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: var(--dl-color-default-white);
}
.testtask-text28 {
  color: var(--dl-color-default-dark);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-text30 {
  top: 256px;
  left: 24px;
  color: var(--dl-color-default-secondary);
  width: 308px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.testtask-text32 {
  top: 312px;
  left: 24px;
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Commissioner;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-text34 {
  top: 216px;
  left: 24px;
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-thumbnail3 {
  top: 0px;
  left: 0px;
  width: 356px;
  height: 200px;
  position: absolute;
}
.testtask-btngroupedbutton {
  top: 128px;
  left: 1138px;
  width: 176px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.testtask-text36 {
  top: 7px;
  left: 108px;
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-activebg {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 40px;
  position: absolute;
  border-radius: 8px 0 0 8px;
}
.testtask-text38 {
  top: 7px;
  left: 16px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-text40 {
  top: 176px;
  left: 578px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-text42 {
  top: 112px;
  left: 578px;
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.testtask-filteritem {
  top: 248px;
  left: 186px;
  width: 273px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.testtask-text44 {
  top: 7px;
  left: 44px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-deleteremovegarbagewastetrashcan {
  top: 7px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.testtask-filteritem1 {
  top: 208px;
  left: 186px;
  width: 273px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.testtask-clockcircletime {
  top: 7px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.testtask-text46 {
  top: 7px;
  left: 44px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-filteritem2 {
  top: 168px;
  left: 186px;
  width: 273px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.testtask-text48 {
  top: 6px;
  left: 44px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-smileyfaceemojismile {
  top: 7px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.testtask-filteritemactive {
  top: 127px;
  left: 187px;
  width: 273px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(237, 113, 53, 1);
}
.testtask-text50 {
  top: 7px;
  left: 44px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-images1photospicturesshot {
  top: 7px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.testtask-header {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 72px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.testtask-magicstick {
  top: 23px;
  left: 198px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.testtask-searchinput {
  top: 16px;
  left: 578px;
  width: 546px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(238, 238, 238, 1);
}
.testtask-searchmagnifyingglass {
  top: 7px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.testtask-text52 {
  top: 7px;
  left: 44px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.testtask-text54 {
  top: 23px;
  left: 198px;
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Commissioner;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.testtask-text56 {
  top: 23px;
  left: 275px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.testtask-text58 {
  top: 23px;
  left: 349px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.testtask-language {
  top: 23px;
  left: 1166px;
  width: 76px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.testtask-text60 {
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  text-align: right;
  line-height: 150%;
}
.testtask-chevrondownsmall {
  top: 0px;
  left: 52px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.testtask-text62 {
  top: 23px;
  left: 1266px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  text-align: right;
  line-height: 150%;
}
.testtask-headerdivider {
  top: 72px;
  left: 0px;
  width: 1512px;
  height: 0px;
  position: absolute;
}
.testtask-headeractivelink {
  top: 70px;
  left: 198px;
  width: 53px;
  height: 2px;
  position: absolute;
}
